/** Vazir */
@font-face {
  font-family: "Vazir";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/vazir/Vazirmatn-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Vazir";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/vazir/Vazirmatn-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Vazir";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/vazir/Vazirmatn-Bold.woff2") format("woff2");
}

/** Shabnam */
@font-face {
  font-family: "Shabnam";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/shabnam/Shabnam-FD.woff2") format("woff2");
}
@font-face {
  font-family: "Shabnam";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/shabnam/Shabnam-Medium-FD.woff2") format("woff2");
}
@font-face {
  font-family: "Shabnam";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/shabnam/Shabnam-Bold-FD.woff2") format("woff2");
}

/** Samim */
@font-face {
  font-family: "Samim";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/samim/Samim-FD.woff2") format("woff2");
}
@font-face {
  font-family: "Samim";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/samim/Samim-Medium-FD.woff2") format("woff2");
}
@font-face {
  font-family: "Samim";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/samim/Samim-Bold-FD.woff2") format("woff2");
}

/** IRANSans */
@font-face {
  font-family: "IRANSans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/iransanc/IRANSansWeb.woff2") format("woff2");
}
@font-face {
  font-family: "IRANSans";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/iransanc/IRANSansWeb_Medium.woff2") format("woff2");
}
@font-face {
  font-family: "IRANSans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/iransanc/IRANSansWeb_Bold.woff2") format("woff2");
}

/** Amiri */
@font-face {
  font-family: "Amiri";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/Amiri/Amiri-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Amiri";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("/fonts/Amiri/Amiri-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Amiri";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/Amiri/Amiri-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Amiri";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url("/fonts/Amiri/Amiri-BoldItalic.ttf") format("truetype");
}

/** Al Qalam */
@font-face {
  font-family: "Al Qalam";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/al-qalam/Al Qalam Quran Majeed Web Regular.ttf")
    format("truetype");
}

/** IranNastaliq */
@font-face {
  font-family: "IranNastaliq";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/IranNastaliq/IranNastaliq.ttf") format("truetype");
}

/** Scheherazade New */
@font-face {
  font-family: "Scheherazade New";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/ScheherazadeNew/ScheherazadeNew-Regular.ttf")
    format("truetype");
}
@font-face {
  font-family: "Scheherazade New";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/ScheherazadeNew/ScheherazadeNew-Medium.ttf")
    format("truetype");
}
@font-face {
  font-family: "Scheherazade New";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/ScheherazadeNew/ScheherazadeNew-Bold.ttf") format("truetype");
}

/** Noto Naskh Arabic */
@font-face {
  font-family: "Noto Naskh Arabic";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/Nato-Naskh-Arabic/NotoNaskhArabic-Regular.ttf")
    format("truetype");
}
@font-face {
  font-family: "Noto Naskh Arabic";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/Nato-Naskh-Arabic/NotoNaskhArabic-Medium.ttf")
    format("truetype");
}
@font-face {
  font-family: "Noto Naskh Arabic";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/Nato-Naskh-Arabic/NotoNaskhArabic-Bold.ttf")
    format("truetype");
}

/** Noto Kufi Arabic */
@font-face {
  font-family: "Noto Kufi Arabic";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/NatoKufiArabic/NotoKufiArabic-Regular.ttf")
    format("truetype");
}
@font-face {
  font-family: "Noto Kufi Arabic";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/NatoKufiArabic/NotoKufiArabic-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Noto Kufi Arabic";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/NatoKufiArabic/NotoKufiArabic-Bold.ttf") format("truetype");
}

/** Amiri Regular (400) */
@font-face {
  font-family: "Amiri fa";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/amiri-farsi/amiri-regular.ttf") format("truetype");
}

/* Medium (500) */
@font-face {
  font-family: "Amiri";
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  src: url("/fonts/amiri-farsi/amiri-slanted.ttf") format("truetype");
}
